<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>MIRO STORY</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <!-- 제목 글씨체 -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script language="javascript">
        function showConfirm_notice(){
            window.open("/popup_notice","confirm","width=300, height=80, left=500, top=200");}
        function showConfirm_class(){
            window.open("/popup_class","confirm","width=300, height=80, left=500, top=200");}
        function showConfirm_free(){
            window.open("/popup_free","confirm","width=300, height=80, left=500, top=200");}
        function showConfirm_anony(){
            window.open("/popup_anony","confirm","width=300, height=80, left=500, top=200");}
    </script>
    <!-- 팝업 기능 추가 -->


</head>

<body>
        <br>
        <div style="display: flex; flex-direction : column; ">
          <div style="display: flex; flex-direction : row ; justify-content: flex-end; margin-right: 50px;">
            <div style="display: flex; flex-direction: row; ">
              <%if(user !== undefined){%>
              <div style="display: flex; flex-direction: row; justify-content: flex-end; margin: 10px 30px 0px 0px; ">
                <div style="font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black; margin-right: 30px;">
                  <%=user%> 님, 환영합니다
                </div>
                <!-- <form method="post" action='logout'><button style="float:right" class="btn" type="submit;">로그오프</button></form> -->
                <form method="post" action="logout" id="logout"></form>
                <span style="font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color:black; cursor: pointer; margin-right: 50px;"
                  onclick="document.getElementById('logout').submit()">로그아웃</span>
              </div>
              <%}else{%>
              <div style="text-align:right;margin-right: 10%;cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black; width: 100px"><a
                  href="/login">로그인</a></div>
              <div style="text-align:right;margin-right: 10%;cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black;  width: 100px"><a
                  href="/signUp">회원가입</a></div>
              <%}%>
            </div>
          </div>
          <br>
          <div style="display: flex; justify-content:flex-end;">
            <div style="font-style: italic; font-size: 5.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black; margin: 0px 300px 0px 0px;">마음의소리</div>
          </div>
          <div class="container" style="display: flex; flex-direction : row; justify-content:space-evenly; ">
      
      
              <div style="margin-left : 30px; width: 15%; flex-direction: column">
            <a href="#" onclick="showConfirm_notice(); return false">
                <div style="cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black; margin-bottom: 30px; margin-top: 70px">공지사항</div>
            </a>
            <a href="#" onclick="showConfirm_class(); return false">
                <div style="cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black; margin-bottom: 30px">수업게시판</div>
            </a>
            <a href="#" onclick="showConfirm_free(); return false">
                <div style="cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black; margin-bottom: 30px">자유게시판</div>
            </a>
            <a href="#" onclick="showConfirm_anony(); return false">
                <div style="cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black; margin-bottom: 30px">마음의소리</div>
            </a>
        </div>
    <div class="container" style = "margin: 20px 30px 10px 0px">
        <h2></h2>

        <form method="post" action="/rewrite_anony/<%=result._id%> " id="formtag" method="post" action="/rewrite_anony/<%=result._id%>">
            <div class="form-group">
                <label style="font-family: 'Black Han Sans', sans-serif; font-size:30px;">수정하기</label>
                <br> <br>
                <label style="font-family: 'Black Han Sans', sans-serif; font-size:20px;" for="exampleFormControlInput1">제목</label>
                <input type="text" name="inputTitle" class="form-control" id="exampleFormControlInput1" value="<%=result.title%>"
                    >
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1" style="font-family: 'Black Han Sans', sans-serif; font-size:20px;">내용</label>
                <textarea class="form-control" name="inputContent" id="exampleFormControlTextarea1" rows="10"><%=result.content%></textarea>
            </div>
        </form>

        <div style="text-align : right;">
            <a href="#" onclick="showConfirm_anony(); return false"><button class="btn btn-secondary btn-lg">목록으로가기</button></a>
            <a href="#" onClick="document.getElementById('formtag').submit()"><button class="btn btn-secondary btn-lg">수정하기</button></a>
        </div>
    </div>

</div>
</body>

</html>